@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: #b28255;
  outline: 1px solid slategrey;
}

body {
  max-width: 1440px;
  margin: 0px auto;
  padding: 0 20px;
}

html {
  font-size: clamp(12px, 1vw, 16px);
}